* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(183, 224, 255);
  font-family: 'Oswald', sans-serif;
  display: block;
  padding: 50px;
  text-align: center;
}


.rps-image{
  height: 100px;
  display: inline-block;
  cursor: pointer;
  padding: 2rem;
}

#rock, #paper, #scissors {
  width: 50px;
}

.display-choices {
  padding-top: 2.5rem;
}
.show-choice {
  display: inline-block;
  padding: 2rem;
}
#user-header {
  position: absolute;
  top: 35%;
  right: 37%;
}
#comp-header {
  position: absolute;
  top: 35%;
  right: 54%;
}
